<div id="mesaje"></div>

<button type="button" name="login" onclick="window.location = '/api';">
  Login
</button>
<button type="button" name="login" onclick="window.location = '/api/signin';">
  Signin
</button>

<h2>Boilerplate pentru logare cu socketio</h2>
<p>
  Această pagină este una care să fie servită de Express ca pagină statică.
</p>
<p>
  Resursele suplimentare necesare vor fi servite cu Bower
</p>

<script src="../../libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script src="../js/com.js" charset="utf-8"></script>
<script src="../js/landing.js" charset="utf-8"></script>
<script type="text/javascript">
  verifyExisting();
</script>
